

  <nav class="navbar  navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand text-uppercase text-white fs-2" routerLink="/">start framework</a>
      <button class="navbar-toggler" appDroup type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <div class="navs">
            <ul class="navbar-nav mb-2 mb-lg-0 container" >
                <li class="nav-item" >
                  <a class="text-white fw-bold text-uppercase nav-link" routerLink="/about" routerLinkActive="class1" >about</a>
                </li>
                <li class="nav-item">
                  <a class=" text-white fw-bold text-uppercase nav-link" routerLink="/portfolio" routerLinkActive="class1">protfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fw-bold text-uppercase"  routerLink="/contact" routerLinkActive="class1" >Contact</a>
                </li>
              </ul>
        </div>
        
      </button>

      <div class="collapse navbar-collapse maxs"  >
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link text-white fw-bold text-uppercase px-2 mt-2 mt-md-0"  routerLink="/about" routerLinkActive="class1" aria-current="page" >about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold text-uppercase px-2 mt-2 mt-md-0" routerLink="/portfolio" routerLinkActive="class1" >protfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold text-uppercase px-2 mt-2 mt-md-0" routerLink="/contact" tabindex="-1" routerLinkActive="class1" >Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>